*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body{
    background-color: #141414;
    color: white;
}

#caja{
    background-color: #1f1f1f;
    width: 320px;
    height: 520px;
    margin: auto;
    margin-top: 80px; /*Espacio que hay entre el tope de la pagina con la caja gris*/
    padding: 20px 30px;
    border-radius: 5px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

#FotoPerfil{
    height: 100px;
    position: relative;
    border-radius: 80px;
    width: 100px;
    margin-bottom: 10px; /*Espacio que se deja hacia abajo entre la imagen y el nombre*/
}

#planeta{
    color: #A0E529;
}

h3,h5{
    height: 40px;
}

.botones{
    color: white;
    font-weight: bold;
    background-color: #333333;
    display: block;
    text-align: center;
    border-radius: 6px;
    margin-bottom: 10px; /*Espacio entre un botón y otro*/
    padding: 11px 10px;
    width: 100%;
    text-decoration: none;
}